@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    /* color: white; */
    /* background: #f9f5ec; */
  }
}

.img {
  width: 100px;
}

.bottomNav {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--grey-color);
  z-index: 3;
  background-color: #fa8f54;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bnTab {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body
p-0 m-0

a 
no-underline

*
box-border

.img
w-24

.bottomNav
w-full h-24 fixed bottom-0 bg-orange-400 flex justify-center items-center

.bnTab
w-3/12 h-full flex justify-center items-center */
